<div style="margin-top: 25px;">
  <h2>Vídeos do YouTube</h2>


<div class="video-cards-container">

  <div class="video-card">

    <a [href]="'https://www.youtube.com/watch?v=eFeUkUv6fVc&t=1s' + videoId1" target="_blank">
      <img [src]="'https://img.youtube.com/vi/eFeUkUv6fVc/0.jpg'" alt="Video Thumbnail">
    </a>
  </div>

  <!-- Card 2 -->
  <div class="video-card">

    <a [href]="'https://www.youtube.com/watch?v=hPtwIUzv0eo&t=14s' + videoId2" target="_blank">
      <img [src]="'https://img.youtube.com/vi/hPtwIUzv0eo/0.jpg'" alt="Video Thumbnail">
    </a>
  </div>

  <!-- Card 3 -->
  <div class="video-card">

    <a [href]="'https://www.youtube.com/watch?v=-v8YiSJXR40' + videoId3" target="_blank">
      <img [src]="'https://img.youtube.com/vi/-v8YiSJXR40/0.jpg'" alt="Video Thumbnail">
    </a>

  </div>

  <!-- Card 4 -->
  <!-- <div class="video-card">
    <a [href]="'https://www.youtube.com/watch?v=KiIYV2ltAT0&t=1s' + videoId4" target="_blank">
      <img [src]="'https://img.youtube.com/vi/KiIYV2ltAT0/0.jpg'" alt="Video Thumbnail">
    </a>
  </div> -->
</div>

