
<footer class="footer py-3 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
        <span class="me-2">© 2024 Rodrigo Rodrigues</span>
        <span>Todos os direitos reservados</span>
      </div>

      <div class="col-md-6 text-center text-md-right">
        <a href="https://www.youtube.com/esportemedicina" target="_blank" class="me-3">
          <i class="bi bi-youtube large-icon"></i>
        </a>
        <a href="https://www.instagram.com/drseleniocf/" target="_blank">
          <i class="bi bi-instagram large-icon"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
