/* Estilos específicos para a seção de contato */
.contact {
  margin-bottom: 10px; /* Adiciona margem inferior para separar do próximo elemento */
}

.contact .card {
  background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para os cartões */
  color: white; /* Texto branco para contraste */
  border-radius: 10px; /* Adiciona bordas arredondadas */
  margin-bottom: 20px; /* Adiciona margem inferior para separar do próximo elemento */
}

.contact .map-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.contact .map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border: 100;
}
