<section class="contact py-5">
  <div class="container">
    <h2 class="text-center mb-4">Contato</h2>
    <p class="text-center mb-5">Contate-nos pelo WhatsApp ou visite nossos consultórios:</p>

    <div class="row mb-5">
      <div class="col-lg-6 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title">Rio de Janeiro:</h3>
            <p class="card-text">Av. das Américas, 3434</p>
            <p class="card-text">Sala 205 Bloco 4 - Barra da Tijuca</p>
            <p class="card-text">(21) 97348-3969</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.705253358552!2d-43.34884342581174!3d-22.99786364113016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bda143291be61%3A0xb2805435b3a683e4!2sAv.%20das%20Am%C3%A9ricas%2C%203434%20-%20Barra%20da%20Tijuca%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2022640-102!5e0!3m2!1spt-BR!2sbr!4v1716312729031!5m2!1spt-BR!2sbr" class="embed-responsive-item"></iframe>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-lg-6 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title">Barbacena - MG:</h3>
            <p class="card-text">Av. Jaime do Rêgo Macedo, 86 - sala 205 - Centro</p>
            <p class="card-text">(32) 3331-3776</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.2595518383314!2d-43.779160925885265!3d-21.2215538798217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa2206c08820445%3A0x27d59d7499194bb1!2sAv.%20Jaime%20do%20R%C3%AAgo%20Macedo%2C%2086%20-%20Centro%2C%20Barbacena%20-%20MG%2C%2036200-032!5e0!3m2!1spt-BR!2sbr!4v1716312770114!5m2!1spt-BR!2sbr" class="embed-responsive-item"></iframe>
        </div>
      </div>
    </div>

    <div class="text-center my-5">
      <a href="https://wa.me/+5521973483969" target="_blank" class="btn btn-success btn-lg">
        <i class="bi bi-whatsapp"></i>
        Entre em contato
      </a>
    </div>
  </div>
</section>
