<div class="container-fluid p-0">
  <!-- Painel de vídeo -->
  <div class="row">
    <div class="col-12 p-0">
      <video autoplay muted loop class="w-100">
        <source src="assets/volei.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
    </div>
  </div>

  <!-- Conteúdo principal -->
  <div class="container text-center mt-5">

    <!-- Seção de boas-vindas -->
    <section class="welcome-section my-5">
      <h1 class="display-4">Bem-vindo ao Esporte & Medicina</h1>
      <p class="lead my-4">Cuidado especializado para sua saúde e bem-estar.</p>
      <a href="https://wa.me/+5521973483969" target="_blank" class="btn btn-primary btn-lg">
        <i class="bi bi-whatsapp"></i> Agende sua consulta
      </a>
    </section>

  <!-- Seção de Atendimento VIP -->
  <section class="py-5">
    <div class="container">
      <h2 class="display-5">ATENDIMENTO VIP</h2>
      <p class="lead">Atendimento particular exclusivo</p>
      <p class="mb-4">Tenha um atendimento particular que torna cada paciente que entra no consultório como a maior prioridade. Atendimento com todo o tempo necessário para escutar e dar toda a atenção devida para o paciente.</p>
      <p class="mb-4"><strong>Dando extremo valor, sempre, para você!</strong></p>
    </div>
  </section>

  <!-- Seção de Vídeos do YouTube -->
  <section class="py-5">
    <app-youtube-video-card></app-youtube-video-card>
  </section>

  <!-- Seção de Serviços -->
  <section class="py-5">
    <app-specialties></app-specialties>
  </section>

  <!-- Seção de Contato -->
  <section class="py-5">
    <app-contact></app-contact>
  </section>
</div>
