/* Estilos para o vídeo de fundo */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

video {
  width: 100%;
  height: auto;
}

.highlighted-text {
  font-size: 2em; /* Aumenta o tamanho da fonte */
  color: #000000; /* Muda a cor do texto para vermelho */
  /* text-shadow: 2px 2px 4px #000000; Adiciona uma sombra ao texto */
}
