<div class="container text-center">
  <!-- Seção de boas-vindas -->
  <section class="py-5">
    <h1 class="display-4">Bem-vindo ao nosso consultório médico</h1>
    <p class="lead my-4">Atendimento presencial. Agende sua consulta e transforme sua vida!</p>
    <a href="https://wa.me/+5521973483969" target="_blank" class="btn btn-primary btn-lg btn-whatsapp">
      <i class="bi bi-whatsapp"></i> Agende sua consulta
    </a>
  </section>

  <!-- Seção de Atendimento VIP -->
  <section class="py-5 bg-light">
    <div class="container">
      <h2 class="display-5">ATENDIMENTO VIP</h2>
      <p class="lead">Atendimento particular exclusivo</p>
      <p class="mb-4">Tenha um atendimento particular que torna cada paciente que entra no consultório como a maior prioridade. Atendimento com todo o tempo necessário para escutar e dar toda a atenção devida para o paciente.</p>
      <p class="mb-4"><strong>Dando extremo valor, sempre, para você!</strong></p>
    </div>
  </section>


  <!-- Seção de Vídeos do YouTube -->
  <section>
    <app-youtube-video-card></app-youtube-video-card>
  </section>



  <!-- Seção de Serviços -->
  <section>
    <app-specialties></app-specialties>
  </section>

  <!-- Seção de Contato -->
  <section>
    <app-contact></app-contact>
  </section>

</div>
