.btn-whatsapp:hover {
  background-color: #25D366 !important;
  border-color: #25D366 !important;
}


/* home.component.css */

/* Estilos para a seção de boas-vindas */
section.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.btn-whatsapp {
  margin-top: 1rem;
}

.container {
  margin-top: 2rem;
}

/* Estilos para a seção de Atendimento VIP */
.bg-light {
  background-color: #f8f9fa !important;
  border-radius: 8px;
  padding: 2rem;
}

section.bg-light h2 {
  color: #343a40;
}

section.bg-light p {
  color: #6c757d;
}


/* Ajustes de responsividade */
@media (max-width: 768px) {
  .display-4 {
    font-size: 2.5rem;
  }

  .display-5 {
    font-size: 2rem;
  }

  .lead {
    font-size: 1.25rem;
  }

  .btn-lg {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
}



