<section class="specialties py-5">
  <div class="container">
    <h2 class="text-center mb-4">Serviços</h2>
    <div class="row">
      <div class="col-lg-3 d-flex align-items-stretch" *ngFor="let specialty of specialties">
        <div class="card mb-4 shadow-sm h-100 position-relative" data-toggle="modal" data-target="#specialtyModal" (click)="selectSpecialty(specialty)">
          <img class="card-img-top" [src]="specialty.image" alt="Imagem do serviço">
          <div class="card-body d-flex flex-column justify-content-start position-absolute w-100 h-100">
            <p class="card-text text-center display-8" style="background-color: rgba(255, 255, 255, 0.6); color: black;">{{specialty.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="specialtyModal" tabindex="-1" role="dialog" aria-labelledby="specialtyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="specialtyModalLabel">{{selectedSpecialty?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Descrição do Serviço</p>
          <p>{{selectedSpecialty?.description}}</p>
          <img [src]="selectedSpecialty?.image" alt="Imagem do serviço" class="img-fluid mb-3">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</section>
